html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  padding: 15px 200px 50px;
  justify-content: space-between;
  background-color: #1F2937;
}

button {
  padding: 8px 16px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 50px;
}

.card img {
  width: 320px;
  height: auto;
  border: #3882f6 solid 3px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container{
  flex: 1;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 10px;
  color: white;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 50px 200px;
  background-color: #1F2937;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 8px;
}

.right-section {
  width: 40%;
}

.left-section {
  margin-top: 10px;
}

.left-section span a {
  background-color: #3882f6;
  color: #F9FAF8;
  font-weight: bold;
  padding: 8px 20px;
  border-color: #F9FAF8;
  border-radius: 4px;
}

.left-section p {
  font-size: 18px;
  color: #E5E7EB;
}

.cards-section {
  padding: 0px 70px 60px 70px;
  background-color: #F9FAF8;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 70px;
}

.card {
  display: flex;
  flex-direction: column;
}

.quote-section {
  padding: 120px 310px;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
}

.quote-section p {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

.quote-section span {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 88px;
}

.call-to-action {
  padding: 90px 120px;
}

.call-to-action-container {
  width: 80%;
  height: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  color: white;
  border-radius: 4px;
}

.call-to-action-container span a {
  background-color: #3882f6;
  color: white;
  padding: 3px 20px;
  border: #F9FAF8 solid 1px;
  border-color: #F9FAF8;
  border-radius: 4px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  font-size: 18px;
  background-color: #1f2937;
  color: #F9FAF8;
  text-align: center;
  padding: 50px 100px;
}